.project-container {
  margin: 50px;
  min-height: calc(100vh - 220px);
}

.project-card-center {
  text-align: center;
}

.project-card {
  display: inline-block;
  height: 300px;
  margin: 10px;
  position: relative;
  width: 400px;
}

.project-card:hover {
  box-shadow: 0 0 10px #777;
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-card img {
  object-fit: cover;
}

.project-overlay {
  background-color: #000000b6;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: 0.3s;
  width: 100%;
}

.project-overlay h2 {
  margin: 20px 0;
}

.project-overlay p {
  line-height: 1.2em;
}

.project-btn-code, .project-btn-app {
  background-color: #323144;
  border: 1px solid #fff;
  bottom: 30px;
  cursor: pointer;
  font-size: 0.9em;
  height: 40px;
  position: absolute;
  transition: 0.3s;
  width: 130px;
}

.project-btn-code {
  left: 40px;
}

.project-btn-app {
  right: 40px;
}

.project-btn-code:hover, .project-btn-app:hover, .project-btn-code-single:hover {
  background: #1a1a24;
  border-color: #f7a8b8;
  color: #55cdfc;
}

.project-btn-code-single {
  background-color: #323144;
  border: 1px solid #fff;
  bottom: 30px;
  cursor: pointer;
  font-size: 0.9em;
  height: 40px;
  left: 40px;
  position: absolute;
  right: 40px;
  transition: 0.3s;
  width: 80%;
}

@media(min-width: 1550px) {
  .project-card {
    height: 375px;
    margin: 30px;
    width: 500px;
  }

  .project-card img {
    height: 375px;
    width: 500px;
  }
}

@media(max-width: 1360px) {
  .project-card {
    height: 375px;
    margin: 30px;
    width: 500px;
  }

  .project-card img {
    height: 375px;
    width: 500px;
  }
}

@media(max-width: 1220px) {
  .project-card {
    height: 300px;
    width: 400px;
  }

  .project-card img {
    height: 300px;
    width: 400px;
  }
}

@media(max-width: 1020px) {
  .project-card {
    height: 225px;
    width: 300px;
  }

  .project-card img {
    height: 225px;
    width: 300px;
  }

  .project-btn-code {
    left: 20px;
  }
  
  .project-btn-app {
    right: 20px;
  }

  .project-btn-code-single {
    left: 30px;
  }
}

@media(max-width: 820px) {
  .project-card {
    height: 375px;
    margin: 30px 0;
    width: 500px;
  }

  .project-card img {
    height: 375px;
    width: 500px;
  }

  .project-btn-code {
    left: 40px;
  }
  
  .project-btn-app {
    right: 40px;
  }

  .project-btn-code-single {
    left: 50px;
  }
}

@media(max-width: 600px) {
  .project-card {
    height: 300px;
    margin: 30px 0;
    width: 400px;
  }

  .project-card img {
    height: 300px;
    width: 400px;
  }

  .project-btn-code {
    left: 40px;
  }
  
  .project-btn-app {
    right: 40px;
  }

  .project-btn-code-single {
    left: 37px;
  }
}

@media(max-width: 500px) {
  .project-container {
    margin: 10px;
  }

  .project-card {
    height: 210px;
    margin: 30px 0;
    width: 280px;
  }

  .project-card img {
    height: 210px;
    width: 280px;
  }

  .project-btn-code {
    bottom: 10px;
    left: 10px;
  }
  
  .project-btn-app {
    bottom: 10px;
    right: 10px;
  }

  .project-btn-code-single {
    bottom: 10px;
    left: 30px;
  }
}