.gradient-wrapper {
  align-items: center;
  display: flex;
  height: calc(100vh - 70px);
  justify-content: center;
  position: relative;
}

.gradient-render {
  position: fixed;
  top: 70px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.gradient-render--sm {
  animation: gradient-render--sm 0.6s linear forwards;
}

@keyframes gradient-render--sm {
  from { height: 100% }
  to { height: calc(100% - 260px) }
}

.gradient-picker-wrapper {
  display: flex;
  gap: 200px;
}

.gradient-picker {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
}

.gradient-picker--active {
  animation: gradient-picker--active 0.3s linear forwards;
}

@keyframes gradient-picker--active {
  from { opacity: 0 }
  to { opacity: 1 }
}

.gradient-picker--inactive {
  animation: gradient-picker--inactive 0.3s linear forwards;
}

@keyframes gradient-picker--inactive {
  from { opacity: 1 }
  to { opacity: 0 }
}

.gradient-picker--input {
  border-radius: 4px;
  height: 40px;
  outline: none;
  width: 100px;
}

.gradient-picker--value {
  color: #000;
  margin-left: 15px;
}

.gradient-type {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 0 10px;
}

.gradient-type--label {
  cursor: pointer;
  display: block;
  color: #000;
  padding-left: 20px;
  position: relative;
}

.gradient-type--input {
  bottom: 3px;
  left: 0;
  margin-right: 5px;
  position: absolute;
}


/**************/
/** MORE BTN **/
/**************/
.gradient-more-btn {
  background: transparent;
  border: none;
  bottom: 0;
  cursor: pointer;
  height: 25px;
  outline: none;
  position: fixed;
  width: 25px;
}

.gradient-more-btn::before,
.gradient-more-btn::after {
  content: "";
  position: absolute;
  transition: 0.3s;
}

.gradient-more-btn::before {
  border-left: 3px solid #fff;
  border-radius: 35%;
  bottom: 0;
  height: 15px;
  left: 11px;
}

.gradient-more-btn:hover::before {
  bottom: 5px;
  height: 20px;
}

.gradient-more-btn:hover::after {
  bottom: 14px;
  height: 15px;
  left: 4px;
  width: 15px;
}

.gradient-more-btn::after {
  border-left: 3px solid #fff;
  border-radius: 4px;
  border-top: 3px solid #fff;
  bottom: 7px;
  height: 10px;
  left: 6px;
  transform: rotate(45deg);
  width: 10px;
}

/**************/
/** TOOL BAR **/
/**************/
.gradient-tools-wrapper {
  background-color: #323144;
  bottom: 0;
  height: 0;
  padding-top: 15px;
  position: absolute;
  transition: 0.5s;
  width: 100%;
}


.gradient-code {
  background-color: #fff;
  border-radius: 4px;
  color: #323144;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 430px;
}

.gradient-tools--inactive {
  animation: gradient-tools--inactive 0.3s linear forwards;
}

@keyframes gradient-tools--inactive {
  from { height: 190px; }
  to { height: 0; }
}

.gradient-tools--inactive .gradient-tools-type-wrapper,
.gradient-tools--inactive .gradient-picker--in-tools,
.gradient-tools--inactive .gradient-tools-dir-main-wrapper {
  animation: gradient-tools-content--inactive 0.1s linear forwards;
}

@keyframes gradient-tools-content--inactive {
  from { opacity: 1 }
  to { opacity: 0 }
}

.gradient-tools--active {
  animation: gradient-tools--active 0.3s linear forwards;
}

@keyframes gradient-tools--active {
  from { height: 0; }
  to { height: 190px; }
}

.gradient-tools--active .gradient-tools-type-wrapper,
.gradient-tools--active .gradient-picker--in-tools,
.gradient-tools--active .gradient-tools-dir-main-wrapper {
  animation: gradient-tools-content 0.7s linear;
}

@keyframes gradient-tools-content {
  from { opacity: 0 }
  to { opacity: 1 }
}

.gradient-tools-close {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
}

.gradient-tools-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.gradient-picker--in-tools {
  margin: 0 25px;
}

.gradient-tools-type-wrapper {
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.gradient-tools-inner {
  margin: 0 auto;
  max-width: 900px;
  position: relative;
}

.gradient-tools--type {
  color: #fff;
  cursor: pointer;
}

.gradient-tools--type input {
  cursor: pointer;
  margin-right: 5px;
}

.gradient-tools-dir-wrapper {
  align-items: center;
  display: flex;
  height: 35px;
  justify-content: space-between;
  margin: 10px;
  width: 135px;
}

.gradient-tools-dir-wrapper--mid {
  justify-content: space-between;
}

.gradient-tools-dir-btn {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 2rem;
  height: 35px;
  outline: none;
  position: relative;
  transition: 0.3s;
  width: 35px;
}

.gradient-tools-dir {
  color: #fff;
  position: absolute;
}

.gradient-tools-dir--active {
  border: 1px solid #fff;
  border-radius: 4px;
}

.top-left-dir {
  left: 1px;
  top: -1px;
  transform: rotate(225deg);
}

.top-dir {
  font-size: 1.8rem;
  left: 4px;
  top: 2px;
  transform: rotate(270deg);
}

.top-right-dir {
  left: 3px;
  top: 0;
  transform: rotate(315deg);
}

.left-dir {
  font-size: 1.8rem;
  left: 2px;
  top: 2px;
  transform: rotate(180deg);
}

.right-dir {
  font-size: 1.8rem;
  left: 4px;
  top: 3px;
}

.bot-left-dir {
  left: 0;
  top: 2px;
  transform: rotate(135deg);
}

.bot-dir {
  font-size: 1.8rem;
  left: 3px;
  top: 2px;
  transform: rotate(90deg);
}

.bot-right-dir {
  left: 2px;
  top: 2px;
  transform: rotate(45deg);
}
