/*  #360d1e
    #621055
    #b52b65
    #ed6663
    #ffa372 */

* {
  margin: 0;
  padding: 0;
  line-height: 1em;
  border: 0;
  /* font-size: 100%; */
  /* font: inherit; */
  vertical-align: baseline;
  outline: none;
  color: black;
}

body {
  background-color: #360d1e;
}

a {
  text-decoration: none;
}

p, span, div, label, button {
  font-family: 'Comfortaa', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
}

/* .arrow-left {
  position: absolute;
  top: 300px;
  left: 20px;
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-left:hover {
  top: 290px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #f0aa42;
}

.arrow-right {
  position: absolute;
  top: 300px;
  right: 20px;
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-right:hover {
  top: 290px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #f0aa42;
}

.main-container {
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  padding: 20px;
  border-radius: 25px;
  height: 100%;
  width: 80%;
} */

.main-heading {
  text-decoration: underline;
  margin-bottom: 20px;
}

.primary-btn {
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: #ffa372;
  height: 30px;
  width: 100px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 3px #ed6663;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  box-shadow: 0 0 12px #ed6663;
  background: #ffa372 radial-gradient(circle, transparent 1%, #ffb288 1%) center/15000%;
  transition: background 0s, box-shadow 0.3s;
}

.primary-btn:active {
  box-shadow: 0 0 18px #ed6663;
  background-color: #ffb288;
  background-size: 100%;
  transition: 0.3s;
}

.text-field {
  position: relative;
  height: 30px;
  width: 160px;
  margin: 2px;
  font-size: 0.8em;
  border: 1px solid grey;
  border-radius: 4px;
  transition: 0.3s;
}

.text-field:hover {
  border: 1px solid #ffa372;
  box-shadow: 0 0 12px #ed6663;
}

.text-field:focus {
  border: 3px solid #ffa372;
  box-shadow: 0 0 18px #ed6663;
  margin: 0;
}

.text-field-label {
  position: relative;
  color: lightgrey;
  order: -1;
  padding-left: 5px;
  transition: all 0.3s ease-in;
  pointer-events: none;
  z-index: 1;
}

.text-field-mask {
  position: relative;
  top: -36px;
  left: 128px;
  height: 4px;
  background-color: #FFF;
}

.dropdown {
  position: relative;
  height: 30px;
  width: 160px;
}





.progressbar-container {
  width: 600px;
  margin: 100px auto; 
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  font-family: "Open Sans Condensed", sans-serif;
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 0.9em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #f7d149;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}