.skill-main-container {
  background-color: #323144;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 922px;
}

.skill-main-container::before, .skill-main-container::after {
  content: '';
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.skill-main-container::before {
  background-color: #fff;
  height: 200px;
  width: 100vw;
}

.skill-main-container::after {
  border: 15px solid #323144;
  height: 100px;
  width: 90vw;
}

.skill-heading {
  margin-top: 30px;
  margin-left: 10%;
}

.skill-heading span {
  animation: fade-in 2s ease-in;
}

.skill-heading::before, .skill-heading::after {
  border-bottom: 7px solid #fff;
  bottom: -7px;
  content: '';
  height: 175px;
  position: absolute;
  width: 350px;
  z-index: -1;
}

.skill-heading::before {
  border-right: 7px solid #fff;
  left: 592px;
}

.skill-heading::after {
  border-left: 7px solid #fff;
  left: -7px;
}

.skill-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill-flex::before, .skill-flex::after {
  border-top: 7px solid #fff;
  content: '';
  height: 175px;
  position: absolute;
  top: -7px;
  width: 350px;
  z-index: -1;
}

.skill-flex::before {
  border-left: 7px solid #fff;
  left: -7px;
}

.skill-flex::after {
  border-right: 7px solid #fff;
  left: 592px;
}

.skill-group {
  animation: fade-in 2s ease-in;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 5px;
}

.skill-container {
  padding: 10px;
  text-align: center;
  width: 110px;
}

.skill-container img {
  margin-bottom: 10px;
}

.skill-container p {
  color: #000;
  font-weight: bold;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}