.skill-main-container {
  background-color: #323144;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 922px;
}

.skill-heading {
  margin-top: 30px;
  margin-left: 10%;
}

.skill-heading::before, .skill-heading::after {
  border-bottom: 7px solid #fff;
  bottom: -7px;
  content: '';
  height: 239px;
  position: absolute;
  width: 350px;
  z-index: -1;
}

.skill-heading::before {
  border-right: 7px solid #fff;
  left: 592px;
}

.skill-heading::after {
  border-left: 7px solid #fff;
  left: -7px;
}

.skill-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill-flex::before, .skill-flex::after {
  border-top: 7px solid #fff;
  content: '';
  height: 208px;
  position: absolute;
  top: -7px;
  width: 350px;
  z-index: -1;
}

.skill-flex::before {
  border-left: 7px solid #fff;
  left: -7px;
}

.skill-flex::after {
  border-right: 7px solid #fff;
  left: 592px;
}

.skill-group {
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 5px;
}

.skill-container {
  padding: 10px;
  text-align: center;
  width: 110px;
}

.skill-container img {
  margin-bottom: 10px;
}

.skill-container p {
  color: #000;
  font-weight: bold;
}