.resume-card {
  background-color: #621055;
  box-shadow: 5px 5px 10px #ed6663;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  max-width: 60%;
}

.resume-container {
  margin: 50px 0;
}

.resume-job-duration {
  font-weight: normal;
  font-style: italic;
}

.resume-li {
  list-style: disc;
}

.resume-list-div {
  margin-bottom: 10px;
}

.resume-section {
  padding: 15px;
}

.resume-skills-container {
  display: flex;
  flex-wrap: nowrap;
  width: 600px;
  padding-left: 40px;
}

.resume-skills-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.resume-subheading {
  font-weight: bold;
  padding-left: 30px;
}

.resume-sub-li {
  list-style: square;
}

.resume-sub-subheading {
  font-weight: normal;
  padding-left: 30px;
}

.resume-sub-ul {
  padding-left: 40px;
}

.resume-ul {
  padding-left: 70px;
}