.about-main-container {
  background-color: #323144;
  margin: 40px auto;
  position: relative;
  padding: 10px 10px 0 10px;
  width: 922px;
}

.about-main-container::before, .about-main-container::after {
  content: '';
  left: 50%;
  position: absolute; /* centers in screen when fixed, centers in box when absolute */
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.about-main-container::before {
  background-color: #fff;
  height: 200px;
  width: 100vw;
}

.about-main-container::after {
  border: 15px solid #323144;
  height: 100px;
  width: 90vw;
}

.about-main-container h2 span {
  animation: fade-in 2s ease-in;
}

.about-heading {
  margin-top: 30px;
  margin-left: 10%;
}

.about-heading::before, .about-heading::after {
  border-bottom: 7px solid #fff;
  bottom: -7px;
  content: '';
  height: 137px;
  position: absolute;
  width: 350px;
  z-index: -1;
}

.about-heading::before {
  border-right: 7px solid #fff;
  left: 592px;
}

.about-heading::after {
  border-left: 7px solid #fff;
  left: -7px;
}

.about-content-container {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 70%;
}

.about-content-container::before, .about-content-container::after {
  border-top: 7px solid #fff;
  content: '';
  height: 133px;
  position: absolute;
  top: -71px;
  width: 350px;
  z-index: -1;
}

.about-content-container::before {
  border-left: 7px solid #fff;
  left: -135.5px;
}

.about-content-container::after {
  border-right: 7px solid #fff;
  left: 463.5px;
}

.about-content-container p {
  animation: fade-in 2s ease-in;
  line-height: 1.4em;
  margin-bottom: 15px;
}

.about-contact {
  font-size: 1.2em;
}

.about-contact a {
  color: #55cdfc;
  position: relative;
  transition: 0.4s;
}

.about-contact a:hover {
  color: #f7a8b8;
}

.about-contact a::before {
  border-bottom: 3px solid white;
  bottom: 0;
  content: '';
  visibility: hidden;
  left: 0;
  position: absolute;
  width: 10px;
}

.about-contact a:hover::before {
  animation: contact 1s;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes contact {
  0% { 
    visibility: visible; 
    width: 10px; }
  50% { width: 70px; }
  70% {
    left: 50px;
    width: -20px;
  }
  100% {
    width: 0;
  }
}