.test-div {
  left: 45%;
  position: fixed;
}

.test-div h1 {
  color: #000;
  text-align: center;
}

.sandbox-slider-container {
  background-color: #ddd;
  border-top: 1px solid #aaa;
  min-height: 100vh;
  padding: 10px;
  width: 220px;
}

.sandbox-slider-container h3 {
  color: #000;
  text-decoration: underline;
}

.sandbox-item-container {
  margin-top: 20px;
  position: relative;
}

.sandbox-item-container label {
  color: #444;
}

.sandbox-item-heading {
  line-height: 30px;
  background: linear-gradient(#ddd, #ccc);
  border: none;
  border-radius: 25px;
  box-shadow: -2px -2px 4px 1px #fff, 2px 2px 4px 1px #aaa;
  color: #333;
  cursor: pointer;
  height: 30px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  transition: 0.3s;
  width: 100%;
  z-index: 1;
}

.sandbox-item-heading:hover {
  box-shadow: -2px -2px 4px #fff, 2px 2px 4px #aaa;
  color: #777;
}

.sandbox-item-container div:first-child:hover .sandbox-btn-arrow::before, .sandbox-item-container div:first-child:hover .sandbox-btn-arrow::after {
  background-color: #777;
}

.sandbox-item-heading:active {
  box-shadow: inset -2px -1px 2px #fff, inset 2px 2px 2px #aaa;
}

.sandbox-item-heading span {
  color: inherit;
}

.sandbox-btn-arrow::before, .sandbox-btn-arrow::after {
  background-color: #333;
  border-radius: 1px;
  content: '';
  height: 1.5px;
  position: absolute;
  top: 15px;
  transition: background-color 0.3s, left 0.5s, transform 0.7s;
  width: 15px;
}

.sandbox-btn-arrow::before {
  left: 20px;
  transform: rotate(66deg);
}

.sandbox-btn-arrow::after {
  left: 26px;
  transform: rotate(114deg);
}

.sandbox-dimensions-heading-clicked .sandbox-btn-arrow::before, .sandbox-bg-heading-clicked .sandbox-btn-arrow::before, .sandbox-blur-heading-clicked .sandbox-btn-arrow::before, .sandbox-border-heading-clicked .sandbox-btn-arrow::before, .sandbox-border-radius-heading-clicked .sandbox-btn-arrow::before, .sandbox-box-shadow-heading-clicked .sandbox-btn-arrow::before, .sandbox-rotation-heading-clicked .sandbox-btn-arrow::before {
  left: 20px;
  transform: rotate(114deg);
}

.sandbox-dimensions-heading-clicked .sandbox-btn-arrow::after, .sandbox-bg-heading-clicked .sandbox-btn-arrow::after, .sandbox-blur-heading-clicked .sandbox-btn-arrow::after, .sandbox-border-heading-clicked .sandbox-btn-arrow::after, .sandbox-border-radius-heading-clicked .sandbox-btn-arrow::after, .sandbox-box-shadow-heading-clicked .sandbox-btn-arrow::after, .sandbox-rotation-heading-clicked .sandbox-btn-arrow::after {
  left: 26px;
  transform: rotate(426deg);
}

.sandbox-dimensions-heading-clicked, .sandbox-bg-heading-clicked, .sandbox-blur-heading-clicked, .sandbox-border-heading-clicked, .sandbox-border-radius-heading-clicked, .sandbox-box-shadow-heading-clicked, .sandbox-rotation-heading-clicked {
  line-height: 30px;
  border: none;
  color: #333;
  cursor: pointer;
  height: 30px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  transition: 0.3s;
  width: 100%;
  z-index: 1;
}

.sandbox-dimensions-heading-clicked:hover, .sandbox-bg-heading-clicked:hover, .sandbox-blur-heading-clicked:hover, .sandbox-border-heading-clicked:hover, .sandbox-border-radius-heading-clicked:hover, .sandbox-box-shadow-heading-clicked:hover, .sandbox-rotation-heading-clicked:hover {
  color: #777;
}

.sandbox-dimensions-heading-clicked span, .sandbox-bg-heading-clicked span, .sandbox-blur-heading-clicked span, .sandbox-border-heading-clicked span, .sandbox-border-radius-heading-clicked span, .sandbox-box-shadow-heading-clicked span, .sandbox-rotation-heading-clicked span {
  color: inherit;
}

.sandbox-hide {
  height: 0;
  opacity: 0;
  position: relative;
  left: -999px;
  transition: 0.5s;
}

.sandbox-dimensions-show, .sandbox-bg-show, .sandbox-blur-show, .sandbox-border-show, .sandbox-border-radius-show, .sandbox-box-shadow-show , .sandbox-rotation-show {
  border-radius: 15px;
  box-shadow: inset -2px -1px 2px #fff, inset 2px 2px 2px #aaa;
  /* display: block; */
  background: linear-gradient(to bottom right, #ccc, #ddd);
  margin-bottom: -40px;
  padding: 40px 7px 7px 7px;
  position: relative;
  top: -40px;
  transition: 0.5s;
}

.sandbox-dimensions-show::before, .sandbox-dimensions-show::after, .sandbox-bg-show::before, .sandbox-bg-show::after, .sandbox-blur-show::before, .sandbox-blur-show::after, .sandbox-border-show::before, .sandbox-border-show::after, .sandbox-border-radius-show::before, .sandbox-border-radius-show::after, .sandbox-box-shadow-show::before, .sandbox-box-shadow-show::after, .sandbox-rotation-show::before, .sandbox-rotation-show::after {
  background-color: #999;
  content: '';
  height: 1px;
  left: 10px;
  position: absolute;
  width: 200px;
}

.sandbox-dimensions-show::before, .sandbox-bg-show::before, .sandbox-blur-show::before, .sandbox-border-show::before, .sandbox-border-radius-show::before, .sandbox-box-shadow-show::before, .sandbox-rotation-show::before {
  border-radius: 25%;
  top: 29px;
}

.sandbox-dimensions-show::after, .sandbox-bg-show::after, .sandbox-blur-show::after, .sandbox-border-show::after, .sandbox-border-radius-show::after, .sandbox-box-shadow-show::after, .sandbox-rotation-show::after {
  border-radius: 50%;
  top: 31px;
}

.sandbox-item-flex {
  display: flex;
  flex-direction: row;
}

.sandbox-input {
  text-align: right;
  width: 100%;
}

.sandbox-modal-output {
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px #777;
  left: 50%;
  padding: 30px;
  position: fixed;
  top: 50%;
  /* width: 400px; */
  transform: translate(-50%, -50%);
}

.sandbox-modal-output h3 {
  color: #333;
  margin-bottom: 5px;
}

.sandbox-modal-output-content {
  background-color: #333;
  border-radius: 4px;
  padding: 10px;
}

.sandbox-btn-done, .sandbox-btn-modal {
  line-height: 30px;
  background: linear-gradient(#deeaee, #c7d9e0);
  border: none;
  border-radius: 25px;
  box-shadow: -2px -2px 4px 1px #fff, 2px 2px 4px 1px #aaa;
  color: #333;
  cursor: pointer;
  font-size: 1em;
  height: 30px;
  position: relative;
  text-align: center;
  transition: 0.3s;
  width: 150px;
}

.sandbox-btn-done {
  margin: 30px;
}

.sandbox-btn-modal {
  margin: 30px 0 5px 0;
}

.sandbox-btn-done:hover, .sandbox-btn-modal:hover {
  box-shadow: -2px -2px 4px #fff, 2px 2px 4px #aaa;
  color: #777;
}

.sandbox-btn-done:active, .sandbox-btn-modal:active {
  box-shadow: inset -2px -1px 2px #fff, inset 2px 2px 2px #aaa;
}