.about {
  background-color: $blue--darker;
  margin: 40px auto;
  margin-bottom: 80px;
  padding: 10px;
  padding-bottom: 0;
  position: relative;
  width: 922px;

  &::before,
  &::after {
    content: '';
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &::before {
    background-color: $white;
    height: 200px;
    width: 95vw;
  }

  &::after {
    border: 15px solid $blue--darker;
    height: 100px;
    width: 85vw;
  }

  @media (max-width: $screen-lg-max) {
    width: 722px;
  }

  @media (max-width: $screen-md-max) {
    width: 422px;

    &::before {
      height: 400px;
    }

    &::after {
      height: 200px;
      width: 75vw;
    }
  }

  @media (max-width: $screen-sm-max) {
    width: 350px;

    &::after {
      display: none;
    }

    @media (max-width: $screen-xs-max) {
      padding: 0;
      width: 280px;
    }
  }

  &__heading {
    margin-top: 30px;
    margin-left: 10%;

    &::before,
    &::after {
      border-bottom: 7px solid $white;
      bottom: -7px;
      content: '';
      height: 137px;
      position: absolute;
      width: 350px;
      z-index: -1;
    }

    &::before {
      border-right: 7px solid $white;
      left: 592px;
    }

    &::after {
      border-left: 7px solid $white;
      left: -7px;
    }

    @media (max-width: $screen-lg-max) {
      &::before,
      &::after {
        width: 250px;
      }

      &::before {
        left: 492px;
      }
    }

    @media (max-width: $screen-md-max) {
      &::before,
      &::after {
        height: 220px;
        width: 150px;
      }

      &::before {
        left: 292px;
      }
    }

    @media (max-width: $screen-sm-max) {
      &::before,
      &::after {
        height: 260px;
      }

      &::before {
        left: 220px;
      }
    }

    @media (max-width: $screen-xs-max) {
      &::before,
      &::after {
        bottom: 0;
        height: 360px;
        width: 100px;
        z-index: 1;
      }

      &::before {
        left: 170px;
      }

      &::after {
        left: 5px;
      }
    }
  }

  &__heading-copy {
    animation: fade-in 2s ease-in;
  }

  &__content-container {
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 70%;

    &::before,
    &::after {
      border-top: 7px solid $white;
      content: '';
      height: 133px;
      position: absolute;
      top: -71px;
      width: 350px;
      z-index: -1;
    }

    &::before {
      border-left: 7px solid $white;
      left: -135.5px;
    }

    &::after {
      border-right: 7px solid $white;
      left: 463.5px;
    }

    @media (max-width: $screen-lg-max) {
      &::before,
      &::after {
        top: -72px;
        width: 250px;
      }

      &::before {
        left: -105.5px;
      }

      &::after {
        left: 393.5px;
      }
    }

    @media (max-width: $screen-md-max) {
      &::before,
      &::after {
        height: 220px;
        width: 150px;
      }

      &::before {
        left: -60.5px;
      }

      &::after {
        left: 238.5px;
      }
    }

    @media (max-width: $screen-sm-max) {
      &::before,
      &::after {
        height: 260px;
      }

      &::before {
        left: -49.5px;
      }

      &::after {
        left: 177.5px;
      }
    }

    @media (max-width: $screen-xs-max) {
      &::before,
      &::after {
        height: 360px;
        top: -50px;
        width: 100px;
        z-index: 1;
      }

      &::before {
        left: -20px;
      }

      &::after {
        left: 150px;
      }
    }
  }

  &__content-copy {
    animation: fade-in 2s ease-in;
    line-height: 1.4em;
    margin-bottom: 15px;
  }

  &__contact {
    animation: fade-in 2s ease-in;
    font-size: 1.2rem;
  }

  &__contact-link {
    position: relative;

    &::before {
      border-bottom: 3px solid $blue;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      visibility: hidden;
      width: 10px;
    }

    &:hover::before {
      animation: contact 1s;
    }
  }

  &__bottom-line {
    background-color: $white;
    bottom: -52px;
    height: 7px;
    left: 140px;
    position: absolute;
    width: 400px;

    @media (max-width: $screen-lg-max) {
      width: 270px;
    }

    @media (max-width: $screen-md-max) {
      left: 120px;
      width: 100px;
    }

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  &__bottom-design-left {
    &::before,
    &::after {
      border-left: 7px solid $white;
      content: '';
      left: -170px;
      position: absolute;
      width: 200px;
      z-index: -1;
    }

    &::before {
      border-bottom: 7px solid $white;
      bottom: -52px;
      height: 246px;
    }

    &::after {
      border-top: 7px solid $white;
      bottom: -332px;
      height: 280px;
    }

    @media (max-width: $screen-lg-max) {
      &::before {
        height: 276px;
      }
    }

    @media (max-width: $screen-md-max) {
      &::before {
        height: 357px;
      }

      &::after {
        bottom: -441px;
        height: 389px;
      }
    }

    @media (max-width: $screen-sm-max) {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }

  &__bottom-design-right {
    &::before,
    &::after {
      border-right: 7px solid $white;
      content: '';
      right: -170px;
      position: absolute;
      width: 200px;
      z-index: -1;
    }

    &::before {
      border-bottom: 7px solid $white;
      bottom: -52px;
      height: 246px;
    }

    &::after {
      border-top: 7px solid $white;
      bottom: -332px;
      height: 280px;
    }

    @media (max-width: $screen-lg-max) {
      &::before {
        height: 276px;
      }
    }

    @media (max-width: $screen-md-max) {
      &::before {
        height: 357px;
      }

      &::after {
        bottom: -441px;
        height: 389px;
      }
    }

    @media (max-width: $screen-sm-max) {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }

  @keyframes contact {
    0% {
      opacity: 0;
      visibility: visible;
      width: 10px;
    }
    50% {
      opacity: 1;
      width: 70px;
    }
    70% {
      left: 50px;
      opacity: 1;
      width: -20px;
    }
    100% {
      opacity: 0;
      width: 0;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
