.awf-post {
  background-color: $awf-wise;
  min-height: 100vh;

  &__inner {
    margin: 0 auto;
    max-width: 31rem;
    padding: 1rem;

    @media (min-width: $screen-md-min) {
      padding: 2rem;
    }
  }

  &__heading-container {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 0.5rem;
    justify-content: space-between;
    padding-bottom: 0.25rem;
  }

  &__heading {
    color: $awf-radiant;
    font-family: $awf-heading-font;
    font-size: 1.75rem;
  }

  &__date {
    color: $awf-radiant;
    font-family: $awf-font;
  }

  &__subheading {
    color: $awf-radiant;
    font-family: $awf-heading-font;
    font-size: 1.5rem;
    padding-bottom: 0.25rem;
  }

  &__paragraph {
    color: $awf-nimble;
    font-family: $awf-font;
    line-height: 1.6rem;
    padding-bottom: 1rem;
  }
}
