.awf-post {
  &__heading {
    padding-bottom: 0.5rem;
  }

  &__date {
    padding-bottom: 0.5rem;
  }

  &__block {
    padding-bottom: 1rem;
  }

  &__subheading {
    padding-bottom: 0.25rem;
  }

  &__paragraph {
    padding-bottom: 0.5rem;
  }
}