.awf-post {
  margin: 0 auto;
  max-width: 31rem;

  &__heading-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1.5rem;
  }

  &__heading {
    color: $awf-radiant;
    font-family: $awf-heading-font;
    font-size: 2rem;
  }

  &__date {
    color: $awf-radiant;
    font-family: $awf-font;
  }

  &__subheading {
    color: $awf-radiant;
    font-family: $awf-heading-font;
    font-size: 1.6rem;
    padding-bottom: 0.25rem;
  }

  &__paragraph {
    color: $awf-nimble;
    font-family: $awf-font;
    line-height: 1.6rem;
    padding-bottom: 1rem;
  }
}
