.color-picker {
  background-color: $white;
  border: 0.063rem solid $black;
  border-radius: 0.25rem;
  box-sizing: border-box;
  opacity: 1;
  padding: 0.5rem;
  transition: opacity 0.3s;

  &--inactive {
    opacity: 0;
  }

  &__input {
    border-radius: 0.25rem;
    height: 2.5rem;
    width: 6.25rem;
  }

  &__value {
    color: $black;
    text-align: center;
  }
}
