.custom-gradient {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: calc(100vh - 110px);
  justify-content: center;
  position: relative;

  &__toolbar-btn {
    background: transparent;
    border: 0.063rem solid transparent;
    bottom: 0;
    cursor: pointer;
    font-size: 2rem;
    position: fixed;
    transform: rotate(270deg);
    transition: font-size 0.2s;

    &:hover {
      font-size: 2.5rem;
    }

    &:focus {
      border-color: $pink;
    }

    &--hidden {
      display: none;
    }
  }
}
