.dungeon-synth {
  &__title-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.25rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.25rem;

    a {
      padding-bottom: 0.25rem;
      transition: 0.2s;
      width: max-content;

      &:hover {
        color: #bba4a4;
      }

      &:focus {
        border-color: #5d9c2a;
      }

      &:active {
        color: #918080;
      }
    }
  }

  &__nav-title {
    color: #aa9696;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }

  section {
    padding-bottom: 0.5rem;
  }

  &__figure-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 0.75rem;

    img {
      max-height: 200px;
    }
  }

  &__figure {
    margin: 0 auto;
    padding-bottom: 0.75rem;
    width: max-content;

    img {
      max-height: 200px;
    }
  }
}
