.footer {
  align-items: center;
  background-color: #ffffff3f;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  &__icon-container {
    align-items: center;
    display: flex;
    gap: 1.25rem;
    list-style-type: none;
  }
}
