* {
  border: 0;
  color: $white;
  line-height: 1em;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 16px;
}

body {
  background-color: $blue--darker;
}

a {
  text-decoration: none;
}

p,
span,
div,
label,
button {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bricolage Grotesque', sans-serif;
}

input[type='range'] {
  cursor: pointer;
}

.main-container {
  margin: 0 auto;
  padding: 1rem;

  @media (min-width: $screen-md-min) {
    padding: 2rem;
  }
}

.u-link {
  color: $blue;
  transition: 0.3s;

  &:hover {
    color: $pink;
  }
}

.a11y {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// TODO: make some variables?
.u-music-container {
  background-color: #181616;
  min-height: 100vh;

  * {
    color: #918080;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Fondamento', serif;
  }

  h1 {
    color: #c4acac;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    span {
      font-size: 0.75rem;
    }
  }

  h3 {
    color: #aa9696;
    font-size: 1.4rem;
    padding-bottom: 0.75rem;
  }

  ul {
    padding-bottom: 0.75rem;
    padding-left: 1rem;
  }

  li {
    padding: 0.25rem 0;
  }

  &__inner {
    margin: 0 auto;
    max-width: 45rem;
    padding: 0.5rem 1.25rem;
  }

  &__content-block {
    line-height: 1.06rem;
    padding-bottom: 0.75rem;
  }

  &__link {
    border: 0.125rem dotted transparent;
    color: #9c2a2a;
    text-decoration: underline;
    transition: 0.2s;

    &:hover {
      color: #be3333;
    }

    &:focus {
      border-color: #5d9c2a;
    }

    &:active {
      color: #9c2a2a;
    }
  }

  &__nested-list {
    padding-bottom: 0.75rem;

    > li {
      list-style: none;
    }

    ul {
      padding-bottom: 0.75rem;
      padding-left: 1.25rem;
      padding-top: 0.25rem;
    }

    ul li {
      padding-bottom: 0.25rem;
    }
  }
}
