* {
  border: 0;
  color: $white;
  line-height: 1em;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 16px;
}

body {
  background-color: $blue--darker;
}

a {
  text-decoration: none;
}

p,
span,
div,
label,
button {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bricolage Grotesque', sans-serif;
}

input[type='range'] {
  cursor: pointer;
}

.main-container {
  margin: 0 auto;
  padding: 1rem;

  @media (min-width: $screen-md-min) {
    padding: 2rem;
  }
}

.u-link {
  color: $blue;
  transition: 0.3s;

  &:hover {
    color: $pink;
  }
}

.a11y {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
