.gradient-direction {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-top: 1rem;

  &__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
}
