.sandbox {
  align-items: center;
  display: flex;
  justify-content: center;

  &__sidebar-container {
    background-color: $gray--lighter;
    border-top: 0.063rem solid $gray--light;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: calc(100vh - 8.813rem);
    overflow-y: auto;
    padding: 0.75rem;
    width: 15rem;

    h2 {
      color: $black;
      font-size: 1.2rem;
    }
  }

  &__sidebar-header {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  &__reset-btn {
    align-items: center;
    background: $red-gradient--lightest;
    border: none;
    border-radius: 1.5rem;
    box-shadow: -0.125rem -0.125rem 0.25rem 0.063rem $white,
      0.125rem 0.125rem 0.25rem 0.063rem $gray--light;
    box-sizing: border-box;
    color: $gray--darker;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    transition: 0.3s;

    &:hover,
    &:focus {
      box-shadow: -0.125rem -0.125rem 0.25rem $white,
        0.125rem 0.125rem 0.25rem $gray--light;
      color: $gray;
    }

    &:active {
      box-shadow: inset -0.125rem -0.063rem 0.125rem $white,
        inset 0.125rem 0.125rem 0.125rem $gray--light;
    }
  }

  &__done-btn {
    align-items: center;
    background: $blue-gradient--lightest;
    border: none;
    border-radius: 1.5rem;
    box-shadow: -0.125rem -0.125rem 0.25rem 0.063rem $white,
      0.125rem 0.125rem 0.25rem 0.063rem $gray--light;
    box-sizing: border-box;
    color: $gray--darker;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: 0.5rem 3.25rem;
    transition: 0.3s;

    &:hover,
    &:focus {
      box-shadow: -0.125rem -0.125rem 0.25rem $white,
        0.125rem 0.125rem 0.25rem $gray--light;
      color: $gray;
    }

    &:active {
      box-shadow: inset -0.125rem -0.063rem 0.125rem $white,
        inset 0.125rem 0.125rem 0.125rem $gray--light;
    }
  }
}

.property-tab__contents {
  margin-bottom: -2rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 40px 7px 7px 7px;
  position: relative;
  transform: translateY(-2rem);
  transition: all 0.5s;
  visibility: hidden;
}

.property-tab__contents--open {
  border-radius: 15px;
  box-shadow: inset -0.125rem -1px 0.125rem $white,
    inset 0.125rem 0.125rem 0.125rem $gray--light;
  background: linear-gradient(to bottom right, #ccc, #ddd);
  max-height: 300px;
  opacity: 1;
  transition: all 0.5s, padding 0s;
  visibility: visible;
}

.property-tab__show::before,
.property-tab__show::after {
  background-color: #999;
  content: '';
  height: 0.063rem;
  left: 10px;
  position: absolute;
  width: 200px;
}

.property-tab__show::before {
  border-radius: 25%;
  top: 29px;
}

.property-tab__show::after {
  border-radius: 50%;
  top: 31px;
}

.property-tab__flex {
  display: flex;
}

.sandbox-input {
  text-align: right;
  width: 100%;
}

.sandbox-input input[type='range'] {
  width: 120px;
}
