.swatches {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  padding: 15px;
  position: relative;
  transition: background-color ease-out 0.5s;

  @media (max-width: 1100px) {
    max-width: 720px;
  }

  @media (max-width: 940px) {
    max-width: 540px;
  }

  @media (max-width: 745px) {
    max-width: 360px;
  }

  &__toggle-btn {
    background: transparent;
    cursor: pointer;
    font-size: 4rem;
    height: 40px;
    position: fixed;
    right: 30px;
    top: 10px;
    transition: transform 0.5s;
    width: 40px;

    &:hover {
      .swatches__toggle-icon {
        height: 33px;
        width: 33px;
      }
    }
  }

  &__toggle-icon {
    border-radius: 50%;
    bottom: 6px;
    box-shadow: 3px 1px 0 0 $white, 2px 1px 0 0 $white, 9px 4px 0 0 #323114,
      11px 3px 0 1px $white, 11px 6px 0 1px $white;
    display: block;
    height: 30px;
    position: relative;
    right: 5px;
    transition: 0.3s;
    width: 30px;

    &--active {
      box-shadow: 3px 1px 0 0 $white, 2px 1px 0 0 $white, 9px 4px 0 0 $white,
        11px 3px 0 1px $white, 11px 6px 0 1px $white;
    }
  }

  &__box {
    display: inline-block;
    height: 150px;
    margin: 15px;
    width: 150px;

    @media (max-width: 745px) {
      height: 100px;
      margin: 10px;
      width: 100px;
    }
  }
}
