.about-main-container {
  background-color: #323144;
  margin: 40px auto 80px auto;
  position: relative;
  padding: 10px 10px 0 10px;
  width: 922px;
}

.about-main-container::before,
.about-main-container::after {
  content: '';
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.about-main-container::before {
  background-color: #fff;
  height: 200px;
  width: 95vw;
}

.about-main-container::after {
  border: 15px solid #323144;
  height: 100px;
  width: 85vw;
}

.about-main-container h2 span {
  animation: fade-in 2s ease-in;
}

.about-heading {
  margin-top: 30px;
  margin-left: 10%;
}

.about-heading::before,
.about-heading::after {
  border-bottom: 7px solid #fff;
  bottom: -7px;
  content: '';
  height: 137px;
  position: absolute;
  width: 350px;
  z-index: -1;
}

.about-heading::before {
  border-right: 7px solid #fff;
  left: 592px;
}

.about-heading::after {
  border-left: 7px solid #fff;
  left: -7px;
}

.about-content-container {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 70%;
}

.about-content-container::before,
.about-content-container::after {
  border-top: 7px solid #fff;
  content: '';
  height: 133px;
  position: absolute;
  top: -71px;
  width: 350px;
  z-index: -1;
}

.about-content-container::before {
  border-left: 7px solid #fff;
  left: -135.5px;
}

.about-content-container::after {
  border-right: 7px solid #fff;
  left: 463.5px;
}

.about-content-container p {
  animation: fade-in 2s ease-in;
  line-height: 1.4em;
  margin-bottom: 15px;
}

.about-content-container a {
  color: #55cdfc;
}

.about-contact {
  font-size: 1.2em;
}

.about-contact a {
  color: #55cdfc;
  position: relative;
  transition: 0.4s;
}

.about-contact a:hover {
  color: #f7a8b8;
}

.about-contact a::before {
  border-bottom: 3px solid white;
  bottom: 0;
  content: '';
  visibility: hidden;
  left: 0;
  position: absolute;
  width: 10px;
}

.about-contact a:hover::before {
  animation: contact 1s;
}

.about-bottom-line {
  background-color: #fff;
  bottom: -52px;
  height: 7px;
  left: 140px;
  position: absolute;
  width: 400px;
}

.about-bottom-design-left::before,
.about-bottom-design-left::after {
  border-left: 7px solid #fff;
  content: '';
  left: -170px;
  position: absolute;
  width: 200px;
  z-index: -1;
}

.about-bottom-design-left::before,
.about-bottom-design-right::before {
  border-bottom: 7px solid #fff;
  bottom: -52px;
  height: 230px;
}

.about-bottom-design-left::after,
.about-bottom-design-right::after {
  border-top: 7px solid #fff;
  bottom: -332px;
  height: 280px;
}

.about-bottom-design-right::before,
.about-bottom-design-right::after {
  border-right: 7px solid #fff;
  content: '';
  right: -170px;
  position: absolute;
  width: 200px;
  z-index: -1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contact {
  0% {
    visibility: visible;
    width: 10px;
  }
  50% {
    width: 70px;
  }
  70% {
    left: 50px;
    width: -20px;
  }
  100% {
    width: 0;
  }
}

@media (max-width: 1180px) {
  .about-main-container {
    width: 722px;
  }

  .about-heading::before,
  .about-heading::after {
    width: 250px;
  }

  .about-heading::before {
    left: 492px;
  }

  .about-content-container::before,
  .about-content-container::after {
    top: -72px;
    width: 250px;
  }

  .about-content-container::before {
    left: -105.5px;
  }

  .about-content-container::after {
    left: 393.5px;
  }

  .about-bottom-line {
    left: 140px;
    width: 270px;
  }

  .about-bottom-design-left::before,
  .about-bottom-design-right::before {
    height: 276px;
  }
}

@media (max-width: 960px) {
  .about-main-container {
    width: 422px;
  }

  .about-main-container::before {
    background-color: #fff;
    height: 400px;
    width: 95vw;
  }

  .about-main-container::after {
    border: 40px solid #323144;
    height: 200px;
    width: 75vw;
  }

  .about-heading::before,
  .about-heading::after {
    height: 220px;
    width: 150px;
  }

  .about-heading::before {
    left: 292px;
  }

  .about-content-container::before,
  .about-content-container::after {
    height: 220px;
    width: 150px;
  }

  .about-content-container::before {
    left: -60.5px;
  }

  .about-content-container::after {
    left: 238.5px;
  }

  .about-bottom-line {
    left: 120px;
    width: 100px;
  }

  .about-bottom-design-left::before,
  .about-bottom-design-right::before {
    height: 357px;
  }

  .about-bottom-design-left::after,
  .about-bottom-design-right::after {
    bottom: -441px;
    height: 389px;
  }
}

@media (max-width: 740px) {
  .about-main-container {
    width: 350px;
  }

  .about-main-container::after {
    display: none;
  }

  .about-heading::before,
  .about-heading::after {
    height: 260px;
    width: 150px;
  }

  .about-heading::before {
    left: 220px;
  }

  .about-content-container::before,
  .about-content-container::after {
    height: 260px;
    width: 150px;
  }

  .about-content-container::before {
    left: -49.5px;
  }

  .about-content-container::after {
    left: 177.5px;
  }

  .about-bottom-line {
    display: none;
  }

  .about-bottom-design-left::before,
  .about-bottom-design-right::before {
    display: none;
  }

  .about-bottom-design-left::after,
  .about-bottom-design-right::after {
    display: none;
  }
}

@media (max-width: 425px) {
  .about-main-container {
    padding: 0;
    width: 280px;
  }

  .about-heading::before,
  .about-heading::after {
    bottom: 15px;
    height: 360px;
    width: 100px;
    z-index: 1;
  }

  .about-heading::before {
    left: 170px;
  }

  .about-heading::after {
    left: 5px;
  }

  .about-content-container::before,
  .about-content-container::after {
    height: 360px;
    top: -50px;
    width: 100px;
    z-index: 1;
  }

  .about-content-container::before {
    left: -20px;
  }

  .about-content-container::after {
    left: 150px;
  }
}
