/* kept in original form from when i first made it */
.abstract-container {
  background-color: #26262e;
  background-size: cover;
  min-height: 100vh;
  padding: 50px;
}

.abstract-div {
  line-height: 0px;
  padding: 0;
}

.abstract-heading {
  color: goldenrod;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: underline;
}

.abstract-label {
  color: goldenrod;
  font-family: 'Times New Roman';
}

.abstract-span {
  color: black;
  display: inline-block;
  height: 20px;
  line-height: 0px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 20px;
}

.abstract-row {
  display: flex;
  width: 700px;
}

.abstract-column {
  border: 1px solid #555555;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 25px;
  padding-bottom: 10px;
  text-align: left;
}

.abstract-output {
  margin: 10px 0 0 0;
  text-align: center;
}

.a {
  background-color: #000000;
}

.aa {
  background-color: #0a0a0a;
}

.aaa {
  background-color: #141414;
}

.aaaa {
  background-color: #1e1e1e;
}

.aaaaa {
  background-color: #282828;
}

.aaaaaa {
  background-color: #323232;
}

.aaaaaaa {
  background-color: #3c3c3c;
}

.aaaaaaaa {
  background-color: #464646;
}

.aaaaaaaaa {
  background-color: #505050;
}

.aaaaaaaaaa {
  background-color: #423720;
}

.b {
  background-color: #141414;
}

.bb {
  background-color: #282828;
}

.bbb {
  background-color: #3c3c3c;
}

.bbbb {
  background-color: #505050;
}

.bbbbb {
  background-color: #646464;
}

.bbbbbb {
  background-color: #787878;
}

.bbbbbbb {
  background-color: #8c8c8c;
}

.bbbbbbbb {
  background-color: #0d0d36;
}

.bbbbbbbbb {
  background-color: #3a2412;
}

.bbbbbbbbbb {
  background-color: #18300a;
}

.c {
  background-color: white;
}

.cc {
  background-color: blue;
}

.ccc {
  background-color: red;
}

.cccc {
  background-color: yellow;
}

.ccccc {
  background-color: green;
}

.cccccc {
  background-color: purple;
}

.ccccccc {
  background-color: orange;
}

.cccccccc {
  background-color: black;
}

.ccccccccc {
  background-color: bisque;
}

.cccccccccc {
  background-color: fuchsia;
}

.d {
  background-color: violet;
}

.dd {
  background-color: #88c0ee;
}

.ddd {
  background-color: #7b35cc;
}

.dddd {
  background-color: #3859b4;
}

.ddddd {
  background-color: #a258b9;
}

.dddddd {
  background-color: #5b4fff;
}

.ddddddd {
  background-color: #ac7fd6;
}

.dddddddd {
  background-color: #6844bb;
}

.ddddddddd {
  background-color: #9492ff;
}

.dddddddddd {
  background-color: #ffd900;
}

.e {
  background-color: #3c3c3c;
}

.ee {
  background-color: #5a5a5a;
}

.eee {
  background-color: #787878;
}

.eeee {
  background-color: #969696;
}

.eeeee {
  background-color: #b4b4b4;
}

.eeeeee {
  background-color: #d2d2d2;
}

.eeeeeee {
  background-color: #5d7747;
}

.eeeeeeee {
  background-color: #551d1d;
}

.eeeeeeeee {
  background-color: #070069;
}

.eeeeeeeeee {
  background-color: #4e0166;
}

.f {
  background-color: #ffffff;
}

.ff {
  background-color: #ff8800;
}

.fff {
  background-color: #ff00aa;
}

.ffff {
  background-color: #3cff00;
}

.fffff {
  background-color: #c8ff00;
}

.ffffff {
  background-color: #ff9100;
}

.fffffff {
  background-color: #0059ff;
}

.ffffffff {
  background-color: #fbff00;
}

.fffffffff {
  background-color: #00fff2;
}

.ffffffffff {
  background-color: #ea00ff;
}

.abstract-btn {
  font-family: 'Times New Roman';
  font-size: 0.9em;
  color: black;
  cursor: pointer;
}

.abstract-btn:hover {
  background-color: #d7d8f5;
}

.one {
  animation: flash1 1s linear infinite;
}

.two {
  animation: flash2 1s linear infinite;
}

.three {
  animation: flash3 1s linear infinite;
}

.four {
  animation: flash4 1s linear infinite;
}

@keyframes flash1 {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash2 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash3 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash4 {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
