.contact-main-container {
  min-height: calc(100vh - 160px);
}

.contact-main-container p {
  animation: fade-in 2s ease-in;
}

.contact-writeup {
  background-color: #323144;
  margin: 80px auto;
  position: relative;
  width: 500px;
}

.contact-writeup::before, .contact-writeup::after, .contact-grid::after, .contact-sidebars::before, .contact-sidebars::after, .contact-divider::after, .contact-divider::before {
  content: '';
  position: absolute;
}

.contact-writeup::before, .contact-writeup::after {
  border-top: 7px solid #fff;
  height: 150px;
  top: -40px;
  width: 200px;
}

.contact-writeup::before {
  border-left: 7px solid #fff;
  left: -50px;
}

.contact-writeup::after {
  border-right: 7px solid #fff;
  right: -50px;
}

.contact-writeup p {
  line-height: 1.4em;
}

.contact-sidebars::before {
  background-color: #fff;
  height: 150px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 90vw;
  z-index: -1;
}

.contact-sidebars::after {
  border: 15px solid #323144;
  height: 75px;
  left: 50%;
  top: 116%;
  transform: translateX(-50%);
  width: 80vw;
}

.contact-divider::after {
  background-color: #323144;
  height: 150px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 586px;
}

.contact-divider::before {
  background-color: #fff;
  bottom: -70px;
  height: 7px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  z-index: 1;
}

.contact-grid {
  background-color: #323144;
  display: grid;
  grid-template-areas: 
    'email phone' 
    'github linkedin'
  ;
  margin: 0 auto;
  position: relative;
  width: 500px;
}

.contact-grid::after {
  border-bottom: 7px solid #fff;
  bottom: -10px;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
}

.contact-info-block {
  font-size: 1.1em;
  list-style: none;
  margin: 20px 0;
}

.contact-info-block a {
  color: #55cdfc;
  transition: 0.3s;
}

.contact-info-block a:hover {
  color: #f7a8b8;
}

.contact-email {
  grid-area: email;
}

.contact-phone {
  grid-area: phone;
}

.contact-github {
  grid-area: github;
}

.contact-linkedin {
  grid-area: linkedin;
}

.contact-thanks {
  margin: 70px auto 0 auto;
  padding-bottom: 90px;
  position: relative;
  text-align: center;
  width: 500px;
}

.contact-thanks::before, .contact-thanks::after {
  border-bottom: 7px solid #fff;
  bottom: 40px;
  content: '';
  height: 130px;
  position: absolute;
  width: 200px;
}

.contact-thanks::before {
  border-left: 7px solid #fff;
  left: -50px;
}

.contact-thanks::after {
  border-right: 7px solid #fff;
  right: -50px;
}

@media(max-width: 800px) {
  .contact-writeup {
    text-align: justify;
    width: 250px;
  }

  .contact-writeup::before {
    border-left: 7px solid #fff;
    height: 250px;
    left: -50px;
    width: 100px;
  }
  
  .contact-writeup::after {
    border-right: 7px solid #fff;
    height: 250px;
    right: -50px;
    width: 100px;
  }

  .contact-sidebars::before {
    height: 250px;
  }
  
  .contact-sidebars::after {
    border: 35px solid #323144;
    top: 118%;
    width: 70vw;
  }

  .contact-divider::after {
    height: 350px;
    top: 100%;
    width: 335px;
  }

  .contact-divider::before {
    width: 180px;
  }

  .contact-grid {
    grid-template-areas: 
      'email' 
      'phone' 
      'github' 
      'linkedin'
    ;
    width: 250px;
  }

  .contact-grid::after {
    width: 260px;
  }

  .contact-info-block {
    font-size: 1em;
  }

  .contact-email a {
    padding-left: 20px;
  }
  
  .contact-phone a {
    padding-left: 15px;
  }
  
  .contact-github a {
    padding-left: 10px;
  }

  .contact-thanks {
    text-align: left;
    width: 250px;
  }

  .contact-thanks::before {
    border-left: 7px solid #fff;
    height: 80px;
    left: -50px;
    width: 100px;
  }
  
  .contact-thanks::after {
    border-right: 7px solid #fff;
    height: 80px;
    right: -50px;
    width: 100px;
  }

  .contact-thanks p {
    line-height: 1.4em;
  }
}