.footer {
  height: 10px;
  background-color: #ffffff3f;
  padding: 20px;
  position: relative;
}

.footer-icons {
  bottom: 10px;
  position: absolute;
  right: 40px;
}

.footer-icons a {
  margin-right: 20px;
}

@media (max-width: 425px) {
  .footer-icons {
    right: 10px;
  }
}
