.skill-main-container {
  background-color: #323144;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 922px;
}

.skill-main-container::before,
.skill-main-container::after {
  content: '';
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.skill-main-container::before {
  background-color: #fff;
  height: 200px;
  width: 95vw;
}

.skill-main-container::after {
  border: 15px solid #323144;
  height: 100px;
  width: 85vw;
}

.skill-heading {
  margin-top: 30px;
  margin-left: 10%;
}

.skill-heading {
  animation: fade-in 2s ease-in;
}

.skill-heading::before,
.skill-heading::after {
  border-bottom: 7px solid #fff;
  bottom: -7px;
  content: '';
  height: 175px;
  position: absolute;
  width: 350px;
  z-index: -1;
}

.skill-heading::before {
  border-right: 7px solid #fff;
  left: 592px;
}

.skill-heading::after {
  border-left: 7px solid #fff;
  left: -7px;
}

.skill-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill-flex::before,
.skill-flex::after {
  border-top: 7px solid #fff;
  content: '';
  height: 175px;
  position: absolute;
  top: -7px;
  width: 350px;
  z-index: -1;
}

.skill-flex::before {
  border-left: 7px solid #fff;
  left: -7px;
}

.skill-flex::after {
  border-right: 7px solid #fff;
  left: 592px;
}

.skill-group {
  animation: fade-in 2s ease-in;
  background-color: #eee;
  display: flex;
  list-style-type: none;
  margin: 20px;
  padding: 5px;
}

.skill-container {
  padding: 10px;
  text-align: center;
  width: 110px;
}

.skill-container img {
  margin-bottom: 10px;
}

.skill-container figcaption {
  color: #000;
  font-weight: bold;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1180px) {
  .skill-main-container {
    width: 722px;
  }

  .skill-heading::before,
  .skill-heading::after {
    width: 250px;
  }

  .skill-heading::before {
    left: 492px;
  }

  .skill-flex::before,
  .skill-flex::after {
    top: -7px;
    width: 250px;
  }

  .skill-flex::before {
    left: -7px;
  }

  .skill-flex::after {
    left: 492px;
  }
}

@media (max-width: 960px) {
  .skill-main-container {
    width: 422px;
  }

  .skill-main-container::before {
    background-color: #fff;
    height: 400px;
    width: 95vw;
  }

  .skill-main-container::after {
    border: 40px solid #323144;
    height: 200px;
    width: 75vw;
  }

  .skill-heading::before,
  .skill-heading::after {
    height: 240px;
    width: 150px;
  }

  .skill-heading::before {
    left: 292px;
  }

  .skill-flex::before,
  .skill-flex::after {
    height: 240px;
    width: 150px;
  }

  .skill-flex::before {
    left: -7px;
  }

  .skill-flex::after {
    left: 292px;
  }

  .skill-group {
    flex-wrap: wrap;
    width: 270px;
  }
}

@media (max-width: 740px) {
  .skill-main-container {
    width: 350px;
  }

  .skill-main-container::after {
    display: none;
  }

  .skill-heading::before,
  .skill-heading::after {
    height: 260px;
    width: 150px;
  }

  .skill-heading::before {
    left: 220px;
  }

  .skill-flex::before,
  .skill-flex::after {
    height: 260px;
    width: 150px;
  }

  .skill-flex::before {
    left: -7px;
  }

  .skill-flex::after {
    left: 220px;
  }
}

@media (max-width: 425px) {
  .skill-main-container {
    padding: 0;
    width: 280px;
  }

  .skill-heading::before,
  .skill-heading::after {
    bottom: -10px;
    height: 160px;
    width: 100px;
    z-index: 1;
  }

  .skill-heading::before {
    left: 170px;
  }

  .skill-heading::after {
    left: 5px;
  }

  .skill-flex::before,
  .skill-flex::after {
    height: 160px;
    top: -25px;
    width: 100px;
    z-index: 1;
  }

  .skill-flex::before {
    left: 5px;
  }

  .skill-flex::after {
    left: 170px;
  }

  .skill-group {
    justify-content: center;
    padding: 0;
    width: 210px;
  }

  .skill-container {
    padding: 5px 0;
    width: 100px;
  }
}
