// colors
$white: #fff;

$gray--lightest: #eee;
$gray--lighter: #d3d3d3;
$gray--light: #aaa;
$gray: #808080;
$gray--darker: #323144;
$gray--darkest: #1a1a24;

$black: #000;
$black--transparent: rgba(0, 0, 0, 0.714);
$black--transparenter: rgba(0, 0, 0, 0.529);
$black--transparentest: rgba(0, 0, 0, 0.247);

$pink: #f7a8b8;
$pink--transparent: #f7a8b882;

$purple--dark: #621055;

$orange: #ed6663;
$orange--light: #ffa372;
$orange--lighter: #ffb288;

$green: #9bff7c;

$blue--lightest: #bbd9e6;
$blue: #55cdfc;
$blue--darker: #323144;
$blue--transparent: #55cdfc21;

// gradients
$gray-gradient--lightest: linear-gradient(#ddd, #ccc);
$gray-gradient-bottom-right--lightest: linear-gradient(
  to bottom right,
  #ccc,
  #ddd
);
$red-gradient--lightest: linear-gradient(#eedede, #e0c7c7);
$blue-gradient--lightest: linear-gradient(#deeaee, #c7d9e0);

// breakpoints
$screen-xs-max: 425px;
$screen-sm-min: 426px;
$screen-sm-max: 740px;
$screen-md-min: 741px;
$screen-md-max: 960px;
$screen-lg-min: 961px;
$screen-lg-max: 1180px;
$screen-xl-min: 1181px;

// awelcomefuneral
$awf-heading-font: Garamond, Georgia, serif;
$awf-font: Helvetica, Arial, sans-serif;
$awf-nimble: #b2d0d9;
$awf-precious: #696211;
$awf-radiant: #b5a81d;
$awf-wise: #06171c;

// music
$music-black: #181616;
$music-gray: #918080;
$music-gray--lighter: #c4acac;
$music-gray--light: #aa9696;
$music-red: #9c2a2a;
$music-red--light: #be3333;
$music-green: #5d9c2a;
