.avatar {
  position: relative;
  grid-area: avatar;
  height: 250px;
  border-radius: 40%;
  box-shadow: 0 0 10px #ed6663;
  animation: slide-in 0.8s ease-out;
}

.home-bio {
  grid-area: bio;
  padding-left: 20px;
}

.home-bio2 {
  grid-area: bio2;
  padding-left: 20px;
}

.home-grid {
  display: grid;
  grid-template-areas: 
    'avatar avatar heading heading'
    'avatar avatar bio bio'
    'avatar avatar bio2 bio2';
  grid-gap: 10px;
  padding: 10px;
}

.home-heading {
  grid-area: heading;
}

@keyframes slide-in {
  from {
    left: -800px;
  }
  to {
    left: 0;
  }
}