.generate {
  background-color: black;
  border: 2px outset green;
  color: lightgreen;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 13px;
  margin-bottom: 15px;
  width: 110px;
}

.generate:active {
  background-color: lightgreen;
  border: 2px inset green;
  color: #002900;
}

.generate:hover {
  background-color: #002900;
  box-shadow: 0 0 20px lightgreen;
  font-weight: bold;
}

.password-background {
  background-image: url(/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 80px;
  text-align: center;
}

.password-checkbox-container {
  margin-top: 10px;
}

.password-full-container {
  animation: borders 3s alternate infinite;
  background-color: black;
  border: 10px solid green;
  border-radius: 100px;
  height: 600px;
  margin: 0 auto;
  width: 550px;
}

.password-heading {
  animation: heading 5s alternate infinite;
  margin: 20px;
}

.password-hr {
  border: 1.5px dashed green;
}

.password-length-input {
  background-color: black;
  border: 2px inset green;
  color: lightgreen;
  height: 20px;
  margin-top: 10px;
}

.password-output, .password-output-heading, .password-span {
  color: lightgreen;
}

.password-output-heading {
  margin-top: 20px;
}

.password-span {
  margin-left: 5px;
}

.password-text-container {
  margin-bottom: 10px;
}

.password-textarea {
  background-color: black;
  border: 2px inset green;
  color: lightgreen;
  height: 30px;
  text-align: center;
  width: 175px;
}

@keyframes heading {
  from {
      color: #83da83;
  }
  to {
      color: #9bff9b;
  }
}

@keyframes borders {
  from {
      border: 10px solid green;
  }
  to {
      border: 10px solid #00bb00;
  }
}