.header {
  background-color: #ddd;
  display: inline-block;
  padding: 20px 0;
  width: 100%;
}

.header-bg-btn, .header-btn {
  background-color: linear-gradient(#ddd, #ccc);
  border: none;
  border-radius: 25px;
  color: #333;
  cursor: pointer;
  margin: 0 20px;
  transition: 0.3s;
}

.header-bg-btn {
  box-shadow: -1px -1px 4px 1px #fff, 1px 1px 4px 1px #aaa;
  height: 20px;
  width: 20px;
}

.header-bg-btn:hover {
  box-shadow: -1px -1px 4px #fff, 1px 1px 4px #aaa;
  color: #777;
}

.header-btn {
  box-shadow: -2px -2px 4px 1px #fff, 2px 2px 4px 1px #aaa;
  height: 30px;
  width: 80px;
}

.header-btn:hover {
  box-shadow: -2px -2px 4px #fff, 2px 2px 4px #aaa;
  color: #777;
}

.header-btn:active, .header-bg-btn:active {
  box-shadow: inset -2px -1px 2px #fff, inset 2px 2px 2px #aaa;
}