.header {
  background-color: rgba(0, 0, 0, 0.247);
  display: inline-block;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

/* .header-bg-btn {
  background-color: linear-gradient(#ddd, #ccc);
  border: none;
  border-radius: 25px;
  color: #333;
  cursor: pointer;
  margin: 0 20px;
  transition: 0.3s;
} */

/* .header-bg-btn {
  box-shadow: -1px -1px 4px 1px #fff, 1px 1px 4px 1px #aaa;
  height: 20px;
  width: 20px;
} */

/* .header-bg-btn:hover {
  box-shadow: -1px -1px 4px #fff, 1px 1px 4px #aaa;
  color: #777;
} */

/* .header-bg-btn:active {
  box-shadow: inset -2px -1px 2px #fff, inset 2px 2px 2px #aaa;
} */


.header-btn, .header-btn-here {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  height: 30px;
  margin: 0 20px;
  position: relative;
  transition: 0.3s;
  width: 120px;
}

.header-btn::before, .header-btn::after {
  content: '';
  position: absolute;
  transition: 0.3s;
  transition-delay: 0s;
}

.header-btn::before {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  height: 15px;
  left: 50px;
  top: -3px;
  width: 70px;
}

.header-btn::after {
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  height: 10px;
  left: -3px;
  top: 20px;
  width: 80px;
}

.header-btn:hover, .header-btn-here:hover {
  color: #ccc;
}

.header-btn:hover::before {
  height: 30px;
  left: 0;
  transition-delay: 0.3s;
  width: 120px;
}

.header-btn:hover::after {
  height: 33px;
  top: -3px;
  transition-delay: 0.3s;
  width: 123px;
}

.header-btn:hover .header-btn-corner-one::before {
  top: 18px;
}

.header-btn:hover .header-btn-corner-one::after {
  left: 37px;
}

.header-btn:hover .header-btn-corner-two::before {
  top: 10px;
}

.header-btn:hover .header-btn-corner-two::after {
  left: 77px;
}

.header-btn:active::before, .header-btn:active::after {
  border-radius: 50%;
  left: 5px;
  top: 0px;
  transform: rotate(10deg);
  transition: 0.3s ease-in;
}

.header-btn:active::before {
  border-color: #deeaee;
}

.header-btn:active::after {
  border-color: #bbd9e6;
}

.header-btn:active .header-btn-corner-one::before, .header-btn:active .header-btn-corner-one::after, .header-btn:active .header-btn-corner-two::before, .header-btn:active .header-btn-corner-two::after, .header-btn-here .header-btn-corner-one::before, .header-btn-here .header-btn-corner-one::after, .header-btn-here .header-btn-corner-two::before, .header-btn-here .header-btn-corner-two::after {
  display: none;
}

.header-btn-here {
  position: relative;
}

.header-btn-here::before, .header-btn-here::after {
  border-radius: 50%;
  content: '';
  left: 5px;
  position: absolute;
  top: 0px;
  transform: rotate(10deg);
}

.header-btn-here::before {
  border-top: 3px solid #deeaee;
  border-right: 3px solid #deeaee;
  height: 30px;
  width: 120px;
}

.header-btn-here::after {
  border-bottom: 3px solid #bbd9e6;
  border-left: 3px solid #bbd9e6;
  height: 33px;
  width: 123px;
}

.header-btn-corner-one::before {
  background-color: #aaa;
  content: '';
  height: 7px;
  left: -2px;
  position: absolute;
  top: -2px;
  transition: 0.5s;
  width: 1px;
  z-index: -1;
}

.header-btn-corner-one::after {
  background-color: #aaa;
  content: '';
  height: 1px;
  left: -1px;
  position: absolute;
  top: -2px;
  transition: 0.5s;
  width: 13px;
  z-index: -1;
}

.header-btn-corner-two::before {
  background-color: #aaa;
  content: '';
  height: 6px;
  left: 121px;
  position: absolute;
  top: 25px;
  transition: 0.5s;
  width: 1px;
  z-index: -1;
}

.header-btn-corner-two::after {
  background-color: #aaa;
  content: '';
  height: 1px;
  left: 107px;
  position: absolute;
  top: 31px;
  transition: 0.5s;
  width: 15px;
  z-index: -1;
}